h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

h2 a {
    position:absolute;
    left: 50%;
    color: #ff9400;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 30px;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #617cf7;
}

.save {
    position:absolute;
    left: 50%;
}

.yazi-form textarea, .yazi-form input {
    width: 70%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}


.yazi {
    margin-bottom: 80px;
    width: 70%;
}

.yazi h1 a, .yazi h1 a:visited {
    color: #000000;
}
