{% load staticfiles %}
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170199191-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-170199191-1');
        </script>
        <meta name="description" content="Edebiyat, yeraltı edebiyatı, kısa öykü, korku, kurgu, hikaye bloğu." />
        <meta name="yandex-verification" content="ce61d5d25eb696c1" />
        <meta name="msvalidate.01" content="A50C2691B05838470684B1930A5B0567" />
        <title>Karya'dan Yazılar</title>
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' type='image/x-icon' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Karya'dan Yazılar</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>